    <div class="title_bar">
      <span class="title">Title</span>
      <span class="instance">Instance</span>
    </div>
  </div> {% comment %} close .view {% endcomment %}
</div> {% comment %} close .trmnl {% endcomment %}
</body>
</html>
