
<div class="title_bar">
  <span class="title">Title</span>
  <span class="instance">Instance</span>
</div>
</div>


</div>
<style>
    .screen {
        border: 1px solid black;
    }
    :root {
      --screen-w: 1200px;
      --screen-h: 825px;
    }
</style>
</body>
</html>
