<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://usetrmnl.com/css/latest/plugins.css">
  <style>
    .trmnl .screen--inkplate_10 {
      --screen-w: 1200px;
      --screen-h: 825px;
      --screen-w-original: 1200px;
      --screen-h-original: 825px;
    }
    .screen {
      border: 1px solid tomato;
    }
  </style>
  <title>Document</title>
</head>

<body>
<div class="trmnl">
  <div class="screen screen--2bit screen--inkplate_10 screen--md screen--landscape screen--1x">
    <div class="view view--full">
