    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://usetrmnl.com/css/latest/plugins.css">
        <title>Document</title>
      </head>
      <body class="trmnl">
  <div class="screen screen--2bit screen--inkplate_10 screen--md screen--landscape screen--1x">
<div class="view view--full">

