<%- include('partials/head.ejs') %>
<section class="d-flex justify-content-center align-items-center flex-fill h-100 flex-column">
  <div class="w-75">
    <h1 class="text-center">/r/astoria posts:</h1>
    <% if (data.length) { %>
      <ul>
        <% for(let i = 0; i < data.length; i++) { %>
          <li>
            <%- data[i].title %>
          </li>
          <% } %>
        </ul>
    <% } %>
  </div>
</section>
<%- include('partials/footer.ejs') %>
