{% render 'head.liquid' %}
  <div class="view view--half_vertical">
    {{ content_left }}
    {{ content_right }}
    <div class="title_bar">
      <span class="title">Title</span>
      <span class="instance">Instance</span>
    </div>
  </div>
{% render 'footer.liquid' %}
