<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://usetrmnl.com/css/latest/plugins.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap-utilities.min.css">

  <style>
    .trmnl .screen--inkplate_10 {
      --screen-w: 1200px;
      --screen-h: 825px;
      --screen-w-original: 1200px;
      --screen-h-original: 825px;
      --title-font-size: 30px
    }

    .trmnl .screen--2bit .item .meta {
      background-image: url("https://usetrmnl.com/images/grayscale--2bit/gray-10.png");
    }
    .screen {
      border: 1px solid tomato;
    }
    .split-container {
      display: flex;
      gap: 20px;
      height: 100%;
    }
    .split-container > div {
      flex: 1;
    }
  </style>
  <title>Document</title>
</head>

<body>
<div class="trmnl">
  <div class="screen screen--2bit screen--inkplate_10 screen--md screen--landscape screen--1x">
    <div class="view view--full">
<div class="split-container">
{{ content }}
</div>
<div class="title_bar">
  <span class="title">Title</span>
  <span class="instance">Instance</span>
</div>
</div>
</div>
</div>
</body>
</html>
