{% render 'head.liquid' %}
  <div class="view view--full">
    {% block content %}
    <div class="title_bar">
      <span class="title">Title</span>
      <span class="instance">Instance</span>
    </div>
  </div>
{% render 'footer.liquid' %}
