<%- include('partials/id.ejs') %>

<section class="d-flex justify-content-center align-items-center flex-fill h-100 flex-column">
  <div class="w-75">
    <% if (Array.isArray(data.content)) { %>
      <% data.content.forEach(line => { %>
        <h1 class="text-center"><%- line %></h1>
      <% }); %>
    <% } else { %>
        <h1 class="text-center"><%= data.content %></h1>
    <% } %>
  </div>
</section>
