<!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width" />
      <title>wasd</title>
    </head>
    <body>
      <div class="container mt-2">
        <header>
          <h2>base template</h2>
        </header>
      </div>
    </body>
  </html>
