<%- include('partials/head.ejs') %>
  <%- include('partials/id.ejs') %>

    <section class="d-flex justify-content-center align-items-center flex-fill h-100 flex-column">
      <div style="max-width: 75%;">
        <%- data %>
      </div>
    </section>
    <%- include('partials/footer.ejs') %>