<%- include('partials/head.ejs') %>
<section class="d-flex justify-content-center align-items-center flex-fill h-100 flex-column">
  <div class="w-75">
    <% data.item.forEach((line) => { %>
      <h1 class="text-center"><%= line %></h1>
    <% }); %>
  </div>
</section>
<%- include('partials/footer.ejs') %>
