<%- include('partials/id.ejs') %>

<section class="d-flex justify-content-center align-items-center flex-fill h-100 flex-column">
  <div class="w-75">
    <h1 class="text-center"><%= data.word.toUpperCase() %></h1>
    <hr />
    <ol>
      <% data.definitions.forEach((line) => { %>
        <li class="text-left"><%= line %></li>
      <% }); %>
    </ol>
    <hr />
    <ol>
      <% data.sentences.forEach((line) => { %>
        <li class="text-left fst-italic"><%= line %></li>
      <% }); %>
    </ol>
  </div>
</section>
